{{#if success_message}}

    <div class = "alert alert-success">

        {{success_message}}

    </div>

{{/if}}

{{#if delete_message}}

    <div class = "alert alert-success">

        {{delete_message}}

    </div>

{{/if}}

{{#if update_message}}

    <div class = "alert alert-success">

        {{update_message}}

    </div>

{{/if}}