<h1>Edit Post</h1>
<form action= "/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class ="form-group">

        <label for="title">Title</label>
        <input name = "title" type="text" class-form="form-control" id ="title" value="{{post.title}}">

    </div>


    <div class ="form-group">

        <label for="file">Upload</label>
        <input name = "file" type="file" class-form="form-control-file" id ="title" placeholder="Enter title" required>

    </div>

     <div class="form-group">
    <label for="status">Status</label>
    <select name="status" id="status" class="form-control">

        {{#select post.status}}

            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>

        {{/select}}

    </select>
    </div>



    <div class ="form-check">

        <label for="allowComments" class="form-check-label">
            <input name = "allowComments" type="checkbox" class="form-check-input" id ="allowComments">
            Allow Comments
        </label>

    </div>


    <div class ="form-group">

        <label for="body">Body</label>
        <textarea cols= 30 rows =10 name = "body" type="checkbox" {{#if allowComments}} checked = "checked" {{/if}} class="form-control" id ="body">{{post.body}}</textarea>


    </div>
    <button class= "btn btn-primary" type="submit">Submit</button>

</form>